@model List<TagModel>

<div class="card container px-2 py-3">
    <h4>Tags</h4>
    <div class="d-flex w-100 flex-wrap">
        @foreach (var tag in Model)
        {
            <a asp-action="Search" asp-controller="Home" asp-route-id="@tag.TagModelId" class="card border-1 rounded-pill btn btn-light m-1 px-2 py-0">@tag.Tag</a>
        }
    </div>
</div>