@model List<TagModel>
@{
    var culture = Context.Session.GetString("CurrentCulture");
    System.Threading.Thread.CurrentThread.CurrentUICulture = new System.Globalization.CultureInfo(culture == null ? "en-US" : culture);
}
<div class="card container px-2 py-3">
    <h4>@Localizer["Tags"]</h4>
    <div class="d-flex w-100 flex-wrap">
        @foreach (var tag in Model)
        {
            <form asp-action="Search" asp-controller="Home" >
                <input name="tagId" value="@tag.TagModelId" type="text" hidden/>
                <input type="submit" value="@tag.Tag" class="card border-1 rounded-pill btn btn-light m-1 px-2 py-0" />
            </form>
        }
    </div>
</div>